@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

html {
  font-size: 10px;
}

p {
  font-size: 1.4em;
}

nav {
  width: 100%;
  height: 10em;
}

.containertop {
  width: 100%;
  height: 25em;
  background-color: white;
  display: flex;
  align-items: center;
}

.direita {
  margin-left: 7em;
}

.direita h2 {
  color: #0c0e59;
  font-size: 2em;
}

.direita h2 span {
  color: #ffbb00;
  font-size: 2.8em;
}

.direita p {
  color: #000;
  margin-top: 2em;
}

.placavideo {
  width: 15em;
  height: 15em;
  position: absolute;
  top: 20em;
  right: 50em;
  z-index: 6;
}

.processador {
  width: 10em;
  position: absolute;
  top: 23em;
  right: 35em;
  z-index: 10;
}

.placamae {
  width: 30em;
  position: absolute;
  top: 12em;
  right: 32em;
  z-index: 5;
}

.gabinete {
  width: 25em;
  height: 25em;
  position: absolute;
  top: 10em;
  right: 22em;
}

.ssd {
  width: 20em;
  height: 20em;
  position: absolute;
  top: 20em;
  right: 6em;
}

.bottons {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.bottons button {
  width: 12em;
  height: 12em;
  border: none;
  border-radius: 0.8em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  border: 0.2em solid transparent;
  gap: 0.5em;
  background-color: #f0f0f0;
}

.button1 img {
  width: 4em;
}

.button2 img {
  width: 4em;
}

.button3 img {
  width: 6em;
}

.button4 img {
  width: 6em;
}

.button5 img {
  width: 5em;
}

.button6 img {
  width: 5em;
}

.button7 img {
  width: 5em;
}

.button8 img {
  width: 4em;
}

.button9 img {
  width: 5em;
}

.button10 img {
  width: 5em;
}

.bottons button img.img-hover {
  display: none;
}

.bottons button:hover img.img-normal {
  display: none;
}

.bottons button:hover {
  border-color: #ffbb00;
  transition: 0.3s;
}

.bottons button:hover p {
  color: #ffbb00;
}

.bottons button:hover img.img-hover {
  display: block;
}

.products {
  display: flex;
  gap: 2.5em;
  margin-top: 5em;
  align-items: flex-start;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5em;
}

.filter {
  height: 100%;
  width: 35em;
  background-color: #fff;
  border-radius: 0.8em;
  border: 0.1em solid #000;
  margin-left:2.5em;
}

.filter h3 {
  margin-top: 2em;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0.5em 1.5em 2em;
}

.top p {
  cursor: pointer;
  transition: 0.3s;
}

.top p:hover {
  color: #ffbb00;
}

.checkboxes {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0.5em 0em 0.5em 0em;
}

.checkboxtop {
  margin-left: 2em;
}

.checkboxlow {
  margin-left: 2em;
}

.checkboxtop hr {
  width: 90%;
}

.seemore {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.seemore img {
  width: 2em;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price input {
  width: 50%;
  background-color: #ffbb00;
}

.precos {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.card {
  width: 35em;
  height: 40em;
  border: 0.1em solid #000;
  border-radius: 0.8em;
  background-color: #fff;
}

.cardheart {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  margin-top: 1em;
}

.cardheart button {
  background-color: transparent;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 0.1em solid #00000050;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardheart img {
  width: 2.5em;
  height: 2.5em;
}

.cardproduct {
  display: flex;
  justify-content: center;
}

.cardproduct img {
  height: 20em;
}

.cardtext {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 2em 2em;
  
}

.cardseparator {
  display: flex;
  justify-content: space-between;
}

.cardvalues {
  padding: 0em 0em 0em 2em;
  color: #0c0e59;

}

.cardvalues strong{
  font-size:1.4em;
}

.cardbuy {
  width: 5em;
  height: 5em;
  border-radius: 0.8em;
  border: 0.3em solid #ffbb00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 2em 0em 0em;
  cursor: pointer;
}

.cardbuy img {
  width: 2.5em;
  height: 2.5em;
}

.cardheart button img.img-hover {
  display: none;
}

.cardheart button:hover img.img-normal {
  display: none;
}

.cardheart button:hover img.img-hover {
  display: block;
}

.cardpages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  gap: 0.5em;
}

.numberspage {
  width: 4em;
  height: 4em;
  border: 0.1em solid #00000050;
  background-color: #fff;
  border-radius: 0.8em;
  cursor: pointer;
}

.threepointspages {
  width: 4em;
  height: 4em;
  border: none;
  background-color: #fff;
  border-radius: 0.8em;
  cursor: pointer;
}

footer {
  margin-top: 4em;
}

.containercardsfooter {
  display: flex;
  justify-content: center;
}

.cardsfooter {
  background-color: #f5fcfb;
  width: 80%;
  height: 15em;
  display: flex;
  border: 0.1em solid #00000050;
  border-radius: 0.8em;
}

.cardfooter {
  display: flex;
  align-items: center;
  margin: 0em 2em 0em 2em;
}

.cardfooter img {
  width: 10em;
  height: 10em;
}